.section-third {
  position: relative;
}

.section-third__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  z-index: 9;
}

.section-third__overlay--show {
  width: 100%;
  height: 100%;
}

.solutions__btn {
  position: absolute;
  padding: 10px 15px;
  background: rgba(0, 0, 0, .7);
  bottom: 50%;
  transform: translateY(50%);
  z-index: 9;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: .3s;

  &:hover,
  &:active {
    background: rgba(0, 0, 0, .9);
  }

  @media screen and (max-width: $mobile) {
    bottom: 0;
    transform: translateY(0);
    background: none;
    padding: 22px 30px;
  }
}

.solutions__btn--prev {
  left: 100px;

  @media screen and (max-width: $mobile) {
    left: 0;
  }
}

.solutions__btn-img--prev {
  transform: rotate(180deg);
}

.solutions__btn--next {
  right: 100px;

  @media screen and (max-width: $mobile) {
    right: 0;
  }
}

.solution__list-wrap {
  height: 0;
  overflow-x: hidden;
}

.solution__list-wrap--show {
  height: auto;
}

.solutions__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.solutions__item {
  padding: 0;
  margin: 0;
  height: 100vh;
  background: center center no-repeat;
  background-size: cover;
}

.solutions__img {
  width: 100%;
  text-align: center;
}

.section-third__header {
  padding: 30px 45px;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background: rgba(0, 0, 0, .7);

  @media screen and (max-width: $mobile) {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.section-third__title {
  color: #fff;
  font-size: 1.239rem;
  font-family: "DINPro Medium", sans-serif;
  margin-right: auto;
}

.section-third__solution-wrap {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
}

.header-sub__list--mobile {
  position: absolute;
  top: 82px;
  list-style: none;
  margin: 0;
  padding: 0 40px 0 20px;
  right: 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 999;
  background: rgba(0, 0, 0, .7);
  opacity: 0;
  height: 0;
  transform: rotateX(90deg);
  transform-origin: top;
  font-size: 0;
  transition: all .3s ease-in;

  .header-sub__btn--mobile {
    opacity: 0;
    transition: none;
  }
}

.header-sub__list--mobile-show {
  opacity: 1;
  height: auto;
  transform: rotateX(0);
  font-size: auto;
  padding: 20px 40px 20px 20px;

  .header-sub__btn--mobile {
    text-decoration: none;
    color: #fff;
    display: block;
    font-size: .875rem;
    font-family: "DINPro Regular", sans-serif;
    opacity: 1;

    &:hover,
    &:active {
      color: $main-color;
    }
  }
  .header-sub__btn--mobile-active {
    color: $main-color;
  }
}

.header-sub__item--mobile:not(:last-child) {
  margin-bottom: 18px;
}

.header-sub__btn--mobile {
  text-decoration: none;
  color: #fff;
  display: block;
  font-size: .875rem;
  font-family: "DINPro Regular", sans-serif;

  &:hover,
  &:active {
    color: $main-color;
  }
}



.section-third__solution {
  font-size: .938rem;
  font-family: 'DINPro Regular', sans-serif;
  color: #fff;
}

.section-third__img {
  margin-left: 20px;
}


.slider__descr-wrap {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 40px;
  padding: 15px 0;

  @media screen and (max-width: $mobile) {
    transform: translateX(0);
    background: rgba(0, 0, 0, .7);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.slider__count {
  color: #fff;
  text-align: center;
  font-size: 1.202rem;
  font-family: "DINPro Medium", sans-serif;
}

.slider__location {
  font-size: .876rem;
  font-family: "DINPro Light", sans-serif;
  color: #fff;
  text-align: center;
  margin-bottom: 8px;
}

.slider__list-wrap {
  padding-top: 10px;
  position: absolute;
  bottom: 76px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
  display: none;

  @media screen and (max-width: $mobile) {
    display: block;
  }
}

.slider__list-img-wrap {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: -25px;
    transform: rotate(135deg);
    background: linear-gradient(45deg, rgba(0, 0, 0, .7) 50%, transparent 50%);
  }
}

.slider__list-img {
  position: relative;
}

.slider__list-items-wrap {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #fff;
  overflow-y: scroll;
  height: 0;
  font-size: 0;
  transition: all .1s;
  overflow-y: scroll;
  background: rgba(0, 0, 0, .7);
  position: relative;
  z-index: 99;
}

.slider__list-items-wrap--show {
  padding: 15px 40px;
  height: auto;
  max-height: 30vh;
}

.slider__item {
  margin: 0;
  padding: 0;
  cursor: pointer;
  font-size: .875rem;

  &:hover {
    color: $main-color;
  }
}

.slider__item:not(:last-child) {
  margin-bottom: 20px;
}

.slider__select {
  color: $main-color;
  padding: 0;
  text-align: center;
  font-size: 0;
  height: 0;
  transition: all .1s;
  background: rgba(0, 0, 0, .7);
}

.slider__select--show {
  padding: 10px 0;
  font-size: .875rem;
  height: auto;
}
